.search-container {
    input {
        background-color: var(--modal-color);
        border: none;
        color: var(--text-color);

        &:focus {
            background-color: var(--modal-color);
            border: solid 1px var(--text-color);
            color: var(--text-color);
        }
    }

    .input-group-text {
        background-color: var(--input-color);
        border: none;
        color: var(--text-color);
    }
}

.employee-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    background-color: var(--modal-color);
    padding: 20px;
    font-size: 1.1em;
    margin: 5px;
    width: 300px;
    opacity: 0;

    &.hidden {
        display: none;
        animation: loaded 0.5s ease-out backwards;
    }

    &[data-hook=summary] {
        .summary {
            .name {
                font-weight: 500;
                font-size: 2em;
            }
        }
        
        .details-container {
            display: none;
        }
    }

    &[data-hook=detailed] {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        margin: 20px;
        z-index: 20;
        box-sizing: border-box;

        .summary {
            display: none;
        }
        
        .details-container {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .details {
            display: grid;
            justify-content: center;
            grid-template-columns: 22vw 22vw 22vw 22vw;
            grid-template-rows: repeat(auto-fill, minmax(fit-content, 22vw));

            svg {
                fill: var(--text-color);
                width: 100%;
                height: 100%;
            }
            
            .close {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 2em;
                height: 2em;
            }

            .avatar {
                padding: 10px;

            }

            .name-container {
                padding: 10px;
                grid-column-start: 2;
                grid-column-end: 5;
                font-size: 2.5em;
                align-self: center;
            }

            .info-container {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 5;
                font-size: 1.8em;

                .contact-info {
                    div {
                        padding-left: 2ch;
                    }
                    svg {
                        height: 1em;
                        width: auto;
                        padding-right: 0.5ch;
                    }
                }

            }
            .buttons-container {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: 5;
                width: 100%;
                padding-top: 20px;
                display: flex;
                justify-content: center;
                
                .btn {
                    font-size: 1.3em;
                }
                .clicked{
                    background-color: var(--bs-success);
                    border-color: var(--bs-success);
                    color: var(--bs-btn-hover-color);
                }
            }
        }
    }
    animation: loaded 0.5s ease-out forwards;

    @for $i from 1 to 50{
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
}

@keyframes loaded {
    0% {
        display: none;
    }
    1% {
        display: block;
        opacity: 0;
        transform: translate(0, 5px);
    }
    100% {
        display: block;
        opacity: 100;
        transform: translate(0, 0);
    }
}
